body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #000;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

header {
  background-color: #1e90ff;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #1e90ff;
}

ul {
  list-style-type: square;
}

button {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0b6edc;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
}
